.carousel-container {
  margin: 2rem auto;
  width: 100%;
  max-width: 900px;
  z-index: -1;
}
.swiper-container {
  width: 100%;
  height: auto;
}
.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-image {
  max-height: 700px;
  width: 100%;
  object-fit: cover;
  background-color: #f0f0f0;
}
img {
  width: 100%;
  height: auto;
}
.swiper-pagination-bullet-active {
  background: white !important;
}
