.refundpolicy {
  max-width: 88vw;
  margin-bottom: 50px;
  direction: rtl;
  margin: auto;
}
.refundpolicy h2 {
  text-align: center;
  font-weight: 700;
  margin: 75px 0 110px;
  font-size: 35px;
  color: #111827;
}
.refundpolicy ul {
  padding: 20px;
  margin-bottom: 50px;
}
.refundpolicy ul li {
  font-size: 18px;
  color: #6b7280;
  margin: 10px 0;
}

.refundpolicy ul li span {
  color: #414141;
}
